provider:
  server: http://kim-consumer
server:
  port: 9091
  servlet:
    context-path: /${spring.application.name}
spring:
  application:
    name: kim-consumer
  cloud:
    consul:
      host: 172.16.2.160
      port: 8500
      discovery:
        service-name: ${spring.application.name}
        health-check-path: /actuator/health
    gateway:
      routes:
        - id: self
          uri: http://localhost:${server.port}
          predicates:
            - Path= ${server.servlet.context-path}/**
          filters:
            - StripPrefix=1
          order: -11000
#    nacos:
#      discovery:
#        server-addr: 172.16.2.160:8848
#      metadata:
#        context-path: ${server.servlet.context-path}

  main:
    web-application-type: reactive
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
#logging:
#  level:
#    kim.kin.service: debug