provider:
  server: http://kim-consumer
server:
  port: 9999
  servlet:
    context-path: /${spring.application.name}
spring:
  application:
    name: kim-consumer
  sleuth:
#    reactor:
#      instrumentation-type: decorate_on_each
    web:
      skip-pattern: /actuator/health
    sampler:
      probability: 1.0
  zipkin:
    enabled: true
    service:
      name: ${spring.application.name}
    base-url: http://172.16.2.160:9411
    discovery-client-enabled: false
  cloud:
    consul:
      host: 172.16.2.160
      port: 8900
      discovery:
        service-name: ${spring.application.name}
        health-check-path: /actuator/health
        instance-id: ${spring.application.name}:${server.port}:${spring.cloud.client.ip-address}
        acl-token: 8bc7312a-4a9c-4a59-8db4-2499ee95a974
        prefer-ip-address: true
    gateway:
      routes:
        - id: self
          uri: http://localhost:${server.port}
          predicates:
            - Path= ${server.servlet.context-path}/**
          filters:
            - StripPrefix=1
          order: -11000
        - id: all
          uri: http://localhost:${server.port}
          predicates:
            - Path= **
          order: -1000
#    nacos:
#      discovery:
#        server-addr: 172.16.2.160:8848
#      metadata:
#        context-path: ${server.servlet.context-path}

  main:
    web-application-type: reactive
feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: basic
#logging:
#  level:
#    kim.kin.service: debug