server:
  port: 8082
  servlet:
    context-path: /${spring.application.name}
spring:
  application:
    name: kim-provider
  cloud:
    consul:
      host: 172.16.2.160
      port: 8500
      discovery:
        service-name: ${spring.application.name}
        health-check-path: ${server.servlet.context-path}/actuator/health
        instance-id: ${spring.application.name}:${server.port}:${spring.cloud.client.ip-address}
#    nacos:
#      discovery:
#        server-addr: 172.16.2.160:8848
#        metadata:
#          context-path: ${server.servlet.context-path}
    gateway:
      routes:
        - id: self
          uri: http://localhost:${server.port}
          predicates:
            - Path= ${server.servlet.context-path}/**
          filters:
            - StripPrefix=1
          order: -11000
  main:
    web-application-type: reactive
